# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CMCource.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\artgl\CMCource\.idea\.idea.CMCource\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
